<h5
  class="mb-4 text-2xl md:text-2xl lg:text-2xl font-extrabold leading-none my-3 mx-3 tracking-tight text-gray-900 dark:text-white"
>
  <span class="decoration-8 decoration-blue-400 dark:decoration-blue-600"
    >Additional Services Management</span
  >
</h5>

<mat-grid-list cols="3" rowHeight="1:2">
  <mat-grid-tile>
    <form class="p-4" [formGroup]="additionalServices" (ngSubmit)="onSubmit()">
      <div class="mb-6 w-full">
        <mat-form-field>
          <label for="service">Service Name</label>
          <input
            matInput
            formControlName="service"
            type="text"
            id="service"
            placeholder="example (Water Service)"
            required
          />
          <span
            class="validation text-red-500"
            *ngIf="additionalServices.get('service')?.touched && additionalServices.controls['service'].errors?.['required']"
          >
            Service name is required
          </span>
        </mat-form-field>
      </div>

      <div class="mb-6 w-full">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            formControlName="description"
            id="description"
            matInput
          ></textarea>
          <span
            class="validation text-red-500"
            *ngIf="additionalServices.get('description')?.touched && additionalServices.controls['description'].errors?.['required']"
          >
            Description is required
          </span>
        </mat-form-field>
      </div>

      <div class="mb-6 w-full">
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input formControlName="amount" id="amount" matInput />
        </mat-form-field>
      </div>

      <div class="mb-4">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="image"
          >Upload Image</label
        >
        <input
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          id="image"
          type="file"
          formControlName="image"
          (change)="onFileSelected($event)"
        />
      </div>

      <button
        type="submit"
        [disabled]="!additionalServices.valid"
        mat-raised-button
        color="primary"
      >
        Submit
      </button>
    </form>
  </mat-grid-tile>
</mat-grid-list>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
      <td mat-cell *matCellDef="let row">
        <img
          *ngIf="row.image && row.image.length > 0"
          [src]="row.image"
          alt=""
        />
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row._id }}</td>
    </ng-container>
    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Service</th>
      <td mat-cell *matCellDef="let row">{{ row.service }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row">{{ row.description }}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let row">
        {{ +row.amount | currency : "INR" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="list">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>List</th>
      <td
        mat-cell
        *matCellDef="let row"
        class="{{ row.list ? 'text-success' : 'text-error' }}"
      >
        {{ row.list ? "Listed" : "Unlisted" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-raised-button
          (click)="
            editCategory(row._id, row.service, row.description, row.amount)
          "
          class="btn btn-secondary btn-xs"
        >
          Edit
        </button>
        <button
          (click)="listUnlist(row._id)"
          class="btn mt-2 {{
            row.list ? 'btn-error' : 'btn-success'
          }} btn-xs ms-2 text-white"
        >
          {{ row.list ? "Unlist" : "List" }}
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
<ng-template #callAPIDialog>
  <h1 mat-dialog-title>Edit Service</h1>
  <div mat-dialog-content>
    <form class="example-form" [formGroup]="dialogForm">
      <mat-form-field class="example-full-width">
        <mat-label>Service</mat-label>
        <input
          matInput
          placeholder="Ex. Mechanical"
          formControlName="service"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Ex. It makes me feel..."
          formControlName="description"
        ></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Ex. Mechanical" formControlName="amount" />
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button
      class="btn btn-sm btn-error text-white"
      mat-button
      mat-dialog-close
      cdkFocusInitial
    >
      Cancel
    </button>
    <button
      class="btn btn-sm btn-success text-white"
      mat-button
      mat-dialog-close="yes"
    >
      Update
    </button>
  </div>
</ng-template>
