<h2
  class="text-2xl font-bold mb-4 text-indigo-700 border-b-2 border-indigo-700 pb-2"
>
  Additional Services List
</h2>
<mat-grid-list cols="3" rowHeight="1:2">
  <mat-grid-tile>
    <form class="p-4" [formGroup]="additionalServices" (ngSubmit)="onSubmit()">
      <div class="mb-6 w-full">
        <mat-form-field class="sm:w-full md:w-1/2 lg:w-1/3">
          <label for="service">Service Name</label>
          <input
            matInput
            formControlName="service"
            type="text"
            id="service"
            placeholder="example (Water Service)"
            required
          />
          <span
            class="validation text-red-500"
            *ngIf="
              additionalServices.get('service')?.hasError('required') &&
              additionalServices.get('service')?.touched
            "
          >
            Service name is required
          </span>
        </mat-form-field>
      </div>
      <div class="mb-6 w-full">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            formControlName="description"
            id="description"
            matInput
          ></textarea>
          <span
            class="validation text-red-500"
            *ngIf="
              additionalServices.get('description')?.hasError('required') &&
              additionalServices.get('description')?.touched
            "
          >
            Description is required
          </span>
        </mat-form-field>
      </div>
      <div class="mb-6 w-full">
        <mat-form-field class="flex items-center">
          <mat-label>Amount</mat-label>
          <span matPrefix style="margin-right: 8px">₹</span>
          <input formControlName="amount" id="amount" matInput />
          <span
            class="validation text-red-500"
            *ngIf="
              additionalServices.get('amount')?.hasError('required') &&
              additionalServices.get('amount')?.touched
            "
          >
            Amount is required
          </span>
        </mat-form-field>
      </div>
      <div class="mb-4">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="image"
          >Upload Image</label
        >
        <form [formGroup]="additionalServices">
          <input
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            id="image"
            type="file"
            formControlName="image"
            (change)="onFileSelected($event)"
            accept="image/jpeg, image/png"
          />
          <div *ngIf="additionalServices.get('image')?.hasError('required')">
            Please select an image.
          </div>
        </form>
      </div>
      <div class="relative mb-4">
        <img
          *ngIf="selectedImage"
          [src]="selectedImage"
          alt="Image Preview"
          class="max-w-full"
        />
        <button
          class="absolute top-2 right-2 bg-white text-red-500 border border-red-500 px-3 py-1 rounded cursor-pointer transition duration-300 hover:bg-red-500 hover:text-white"
          type="button"
          *ngIf="selectedImage"
          (click)="removeImage()"
        >
          <i class="fas fa-trash-alt rounded-sm"></i>
        </button>
      </div>
      <button
        type="submit"
        [disabled]="!additionalServices.valid"
        mat-raised-button
        color="primary"
      >
        Submit
      </button>
    </form>
  </mat-grid-tile>
</mat-grid-list>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
</mat-form-field>
<div class="mat-elevation-z8 overflow-x-auto">
  <table
    class="min-w-full table-auto"
    mat-table
    [dataSource]="dataSource"
    matSort
  >
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
      <td mat-cell *matCellDef="let row">
        <img *ngIf="row.image && row.image.length > 0" [src]="row.image" />
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row._id }}</td>
    </ng-container>
    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Service</th>
      <td mat-cell *matCellDef="let row">{{ row.service }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row">{{ row.description }}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let row">
        {{ +row.amount | currency : "INR" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="list">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>List</th>
      <td
        mat-cell
        *matCellDef="let row"
        class="{{ row.list ? 'text-success' : 'text-error' }}"
      >
        {{ row.list ? "Listed" : "Unlisted" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-raised-button
          (click)="
            editCategory(row._id, row.service, row.description, row.amount)
          "
          class="btn btn-secondary btn-xs"
        >
          Edit
        </button>
        <button
          (click)="listUnlist(row._id)"
          class="btn mt-2 {{
            row.list ? 'btn-error' : 'btn-success'
          }} btn-xs ms-2 text-white"
        >
          {{ row.list ? "Unlist" : "List" }}
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
<ng-template #callAPIDialog>
  <div class="w-full sm:w-96">
    <h1 mat-dialog-title>Edit Service</h1>
    <div mat-dialog-content>
      <form class="example-form" [formGroup]="dialogForm">
        <mat-form-field class="example-full-width">
          <mat-label>Service</mat-label>
          <input
            matInput
            placeholder="Ex. Mechanical"
            formControlName="service"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            placeholder="Ex. It makes me feel..."
            formControlName="description"
          ></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Amount</mat-label>
          <input
            matInput
            placeholder="Ex. Mechanical"
            formControlName="amount"
          />
        </mat-form-field>
        <div class="flex items-center mb-4 relative">
          <input
            class="flex-grow text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            id="image"
            type="file"
            formControlName="image"
            (change)="onFileSelected($event)"
          />
          <button
            class="bg-white text-red-500 border border-red-500 px-3 py-1 ml-2 rounded cursor-pointer transition duration-300 hover:bg-red-500 hover:text-white"
            type="button"
            *ngIf="selectedImage"
            (click)="removeImage()"
          >
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
        <img
          *ngIf="selectedImage"
          [src]="selectedImage"
          alt="Image Preview"
          class="max-w-full mb-4 rounded-lg"
        />
      </form>
    </div>
    <div mat-dialog-actions>
      <button
        class="btn btn-sm btn-error text-white"
        mat-button
        mat-dialog-close
        cdkFocusInitial
      >
        Cancel
      </button>
      <button
        class="btn btn-sm btn-success text-white"
        mat-button
        mat-dialog-close="yes"
      >
        Update
      </button>
    </div>
  </div>
</ng-template>
