<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h5 class="text-5xl font-bold">
        Access Everywhere,<br />Axel Services !
      </h5>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="text-center lg:text-center">
          <h5 class="text-3xl font-bold">Reset Password</h5>
        </div>
        <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
          <div class="form-control">
            <label class="label">
              <span class="label-text">New Password</span>
            </label>
            <input
              type="password"
              placeholder="Enter your new password"
              class="input input-bordered"
              formControlName="newPassword"
              required
            />
            <span
              class="validation text-red-500"
              *ngIf="(resetPassForm.get('newPassword')?.touched|| resetPassForm.get('newPassword')?.dirty) && resetPassForm.controls['newPassword'].errors?.['required']"
              >New Password is required</span
            >
            <span
              class="validation text-red-500"
              *ngIf="
                resetPassForm.get('newPassword')?.hasError('noSpaceAllowed')
              "
              >Spaces not allowed</span
            >
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Confirm New Password</span>
            </label>
            <input
              type="password"
              placeholder="Enter your confirm password"
              class="input input-bordered"
              formControlName="newConfirmPassword"
              required
            />
            <span
              class="validation text-red-500"
              *ngIf="(resetPassForm.get('newConfirmPassword')?.touched|| resetPassForm.get('newConfirmPassword')?.dirty) && resetPassForm.controls['newConfirmPassword'].errors?.['required']"
              >Confirm New Password is required</span
            >
            <span
              class="validation text-red-500"
              *ngIf="
                resetPassForm
                  .get('newConfirmPassword')
                  ?.hasError('noSpaceAllowed')
              "
              >Spaces not allowed</span
            >
            <span
              class="validation text-red-500"
              *ngIf="resetPassForm.hasError('PasswordNoMatch')"
              >Passwords doesn't match</span
            >
          </div>
          <div class="form-control mt-6">
            <button
              type="submit"
              [disabled]="!resetPassForm.valid"
              class="btn btn-primary"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
