<div class="hero min-h-screen bg-white">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h5 class="text-5xl font-bold">
        Access Everywhere,<br />Axel Services !
      </h5>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-black">
      <div class="card-body">
        <div class="text-center lg:text-center">
          <h5 class="text-3xl font-bold text-white">Register</h5>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-control">
            <label class="label">
              <span class="label-text text-white">Name</span>
            </label>
            <input
              type="text"
              placeholder="Enter your name"
              class="input input-bordered"
              formControlName="name"
              required
            />
            <span
              class="validation text-red-500"
              *ngIf="registerForm.get('name')?.touched && registerForm.controls['name'].errors?.['required']"
              >Name is required</span
            >
            <span
              class="validation text-red-500"
              *ngIf="registerForm.get('name')?.hasError('whitespace')"
              >White Spaces Not Allowed</span
            >
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text text-white">Email</span>
            </label>
            <input
              type="email"
              placeholder="Enter your email"
              class="input input-bordered"
              formControlName="email"
              required
            />
            <span
              class="validation text-red-500"
              *ngIf="registerForm.get('email')?.touched && registerForm.controls['email'].errors?.['required']"
              >Email is required</span
            >
            <span
              class="validation text-red-500"
              *ngIf="registerForm.get('email')?.hasError('noSpaceAllowed')"
              >Spaces not allowed</span
            >
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text text-white">Phone</span>
            </label>
            <input
              type="text"
              placeholder="Enter your phone"
              class="input input-bordered"
              formControlName="phone"
              required
            />
            <span
              class="validation text-red-500"
              *ngIf="
                registerForm.get('phone')?.hasError('required') &&
                registerForm.get('phone')?.touched
              "
              >Phone is required</span
            >
            <span
              class="validation text-red-500"
              *ngIf="registerForm.get('phone')?.hasError('pattern')"
              >Digits only allowed</span
            >
            <span
              class="validation text-red-500"
              *ngIf="registerForm.get('phone')?.hasError('minLength')"
            >
              Phone must be at least 10 characters long.
            </span>
            <span
              class="validation text-red-500"
              *ngIf="registerForm.get('phone')?.hasError('maxLength')"
              >*Numbers should only contain 10 digits</span
            >
            <span
              class="validation text-red-500"
              *ngIf="registerForm.get('phone')?.hasError('noSpaceAllowed')"
              >Spaces not allowed</span
            >
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text text-white">Password</span>
            </label>
            <input
              type="password"
              placeholder="Enter your password"
              class="input input-bordered"
              formControlName="password"
              required
            />
            <span
              class="validation text-red-500"
              *ngIf="registerForm.get('password')?.touched && registerForm.controls['password'].errors?.['required']"
              >Password is required</span
            >
            <span
              class="validation text-red-500"
              *ngIf="registerForm.get('password')?.hasError('noSpaceAllowed')"
              >Spaces not allowed</span
            >
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text text-white">Confirm Password</span>
            </label>
            <input
              type="password"
              placeholder="Enter confirm password"
              class="input input-bordered"
              formControlName="confirmPassword"
              required
            />
            <span
              class="validation text-red-500"
              *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.controls['confirmPassword'].errors?.['required']"
              >Confirm Password is required</span
            >
            <span
              class="validation text-red-500"
              *ngIf="
                registerForm.get('confirmPassword')?.hasError('noSpaceAllowed')
              "
              >Spaces not allowed</span
            >
            <span
              class="validation text-red-500"
              *ngIf="registerForm.hasError('PasswordNoMatch')"
              >Passwords doesn't match</span
            >
          </div>
          <div class="form-control mt-6">
            <button
              type="submit"
              [disabled]="!registerForm.valid"
              class="btn btn-primary"
            >
              Register
            </button>
          </div>
        </form>
        <div class="form-control">
          <label class="label">
            <a class="label-text-alt text-white">Already have an account?</a>
          </label>
          <button
            routerLink="/"
            type="button"
            class="btn bg-black text-white hover:bg-success"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
