<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>A X E L Services</mat-toolbar>
    <mat-nav-list class="text-center">
      <a mat-list-item routerLink="dashboard">Dashboard</a>
      <a mat-list-item routerLink="userMgt">Users</a>
      <a mat-list-item routerLink="categoryMgt">Category</a>
      <a mat-list-item routerLink="bookingMgt">Bookings</a>
      <a mat-list-item routerLink="banners">Banners</a>
      <a mat-list-item routerLink="servicersMgt">Servicer</a>
      <a mat-list-item routerLink="servicersApproval">Servicers Approval</a>
      <button
        mat-list-item
        class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-full transition duration-300"
        (click)="logOut()"
      >
        Log Out
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">A X E L Admin</mat-icon>
      </button>
      <span>AXEL ADMIN</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
