<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Forgot Password?</h1>
      <p class="py-6">
        Enter your email address below to reset your password. We'll send you
        instructions on how to reset your password.
      </p>
    </div>
    <div class="example-container"></div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <h2 class="card-title">Reset Password</h2>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <span
              class="validation text-red-500"
              *ngIf="(resetForm.get('email')?.touched|| resetForm.get('email')?.dirty) && resetForm.controls['email'].errors?.['required']"
              >Email is required</span
            >
            <input
              matInput
              placeholder="example@example.com"
              formControlName="email"
              required
            />
          </mat-form-field>
          <button class="btn btn-md btn-square btn-secondary ms-2">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
