<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>A X E L Services</mat-toolbar>
    <mat-nav-list class="space-y-2 p-4">
      <a mat-list-item routerLink="dashboard" class="custom-list-item flex items-center">
        <mat-icon class="icon-small text-blue-500">dashboard</mat-icon>
        <span class="ml-2 align-middle">Dashboard</span>
      </a>
      <a mat-list-item routerLink="bookings" class="custom-list-item flex items-center">
        <mat-icon class="icon-small text-green-500">book</mat-icon>
        <span class="ml-2 align-middle">Bookings</span>
      </a>
      <a mat-list-item routerLink="additionalServices" class="custom-list-item flex items-center">
        <mat-icon class="icon-small text-yellow-500">extension</mat-icon>
        <span class="ml-2 align-middle">Additional Services</span>
      </a>
      <a mat-list-item routerLink="chat" class="custom-list-item flex items-center">
        <mat-icon class="icon-small text-purple-500">chat</mat-icon>
        <span class="ml-2 align-middle">Chat</span>
      </a>
      <a mat-list-item routerLink="reviews" class="custom-list-item flex items-center">
        <mat-icon class="icon-small text-purple-500">reviews</mat-icon>
        <span class="ml-2 align-middle">Reviews</span>
      </a>
      <a mat-list-item class="custom-list-item flex items-center" (click)="logOut()">
        <mat-icon class="icon-small text-purple-500">logout</mat-icon>
        <span class="ml-2 align-middle">Log Out</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Axel Servicer</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
