<div class="min-h-screen bg-gray-100 dark:bg-gray-800">
  <aside
    class="md:fixed top-0 left-0 md:w-64 h-screen bg-stone-800 dark:bg-gray-900 text-white shadow-lg"
  >
    <div class="flex items-center p-4">
      <img
        src="https://cdn.dribbble.com/users/2894696/screenshots/13670124/dribbble-logo-design-artboard_29_4x.jpg"
        class="h-8 w-8 rounded-full"
        alt="Flowbite Logo"
      />
      <span class="text-2xl font-semibold ml-3 dark:text-white"
        >Axel Servicer</span
      >
    </div>
    <nav class="py-4 space-y-2">
      <ul>
        <li>
          <a
            routerLink="/servicer/servicerDashboard"
            class="block py-2 pl-5 text-gray-200 dark:text-white hover:bg-gray-700 dark:hover:bg-gray-600 transition duration-300"
          >
            <i class="fas fa-chart-pie mr-2"></i> Dashboard
          </a>
        </li>
        <li>
          <a
            href="/servicer/bookings"
            class="block py-2 pl-5 text-gray-200 dark:text-white hover:bg-gray-700 dark:hover:bg-gray-600 transition duration-300"
          >
            <i class="fas fa-coins mr-2"></i> Bookings
          </a>
        </li>
        <li>
          <a
            href="/servicer/additionalServices"
            class="block py-2 pl-5 text-gray-200 dark:text-white hover:bg-gray-700 dark:hover:bg-gray-600 transition duration-300"
          >
            <i class="fas fa-coins mr-2"></i> Additional Services
          </a>
        </li>
        <li>
          <a
            (click)="logOut()"
            class="block py-2 pl-5 text-gray-200 dark:text-white hover:bg-gray-700 dark:hover:bg-gray-600 transition duration-300"
          >
            <i class="fas fa-sign-out-alt mr-2"></i> Sign out
          </a>
        </li>
      </ul>
    </nav>
  </aside>
</div>
