<h2 class="text-3xl font-bold mb-6">Servicers Approval</h2>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row._id }}</td>
    </ng-container>
    <ng-container matColumnDef="companyname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
      <td mat-cell *matCellDef="let row">{{ row.companyName }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let row">
        {{ row.isBlocked ? "Blocked" : "Unblocked" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="approvalstatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Approval Status</th>
      <td
        mat-cell
        *matCellDef="let row"
        class="{{ row.isApproved ? 'text-success' : 'text-error' }}"
      >
        {{ row.isApproved ? "Approved" : "Cancelled" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="viewdetails">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="viewDetails(row)">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-button (click)="approve(row._id)" color="{{ row.isApproved ? 'warn' : 'primary' }}" class="px-4 py-2m btn-sm text-white rounded-md">
          {{ row.isApproved ? "Cancel" : "Approve" }}
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
<ng-template #viewDetail let-data>
  <div class="p-6 bg-white shadow-md rounded-md w-full overflow-y-auto max-w-screen-md max-h-screen">
    <h2 class="text-2xl font-bold mb-4">{{ data?.companyName }} Details</h2>
    <p><strong>Email:</strong> {{ data?.email }}</p>
    <p><strong>Phone:</strong> {{ data?.phone }}</p>
    <p><strong>Address:</strong> {{ data?.address }}</p>
    <p><strong>Amount:</strong> {{ data?.amount }}</p>
    <p><strong>Category:</strong> {{ data?.category }}</p>
    <p><strong>Description:</strong> {{ data?.description }}</p>
    <p><strong>Verification Document:</strong></p>
    <img [src]="data.image" alt="Service Image" class="max-w-full mb-2">
        <div *ngIf="data?.images && data?.images.length">
      <p><strong>Images:</strong></p>
      <div *ngFor="let image of data.images">
        <img src="{{ image }}" alt="Service Image" class="max-w-full mb-2">
      </div>
    </div>
    <div class="mt-6 flex justify-end">
      <button mat-button mat-dialog-close class="bg-blue-500 text-white px-4 py-2 rounded-md">
        Close
      </button>
    </div>
  </div>
</ng-template>




