<h2 class="text-2xl font-bold mb-4 text-indigo-700 border-b-2 border-indigo-700 pb-2">
  Bookings List
</h2>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.bookingId }}</td>
    </ng-container>
    <ng-container matColumnDef="companyname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
      <td mat-cell *matCellDef="let row">{{ row.services.companyName }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.services.email }}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let row">{{ row.services.phone }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field>
          <mat-label>Approval Status</mat-label>
          <mat-select>
            <mat-option
              (click)="cancelReason(row._id, row.user, 'Cancelled')"
              [disabled]="row.approvalStatus === 'Cancelled'"
              [value]="'Service Completed'"
            >
              Cancel
            </mat-option>
            <mat-option
              (click)="cancelReason(row._id, row.user, 'Pending')"
              [disabled]="row.approvalStatus === 'Cancelled'"
              [value]="'Service Completed'"
            >
              Pending
            </mat-option>
            <mat-option
              (click)="cancelReason(row._id, row.user, 'Service Completed')"
              [disabled]="row.approvalStatus === 'Cancelled'"
              [value]="'Service Completed'"
            >
              Service Completed
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
<ng-template #callAPIDialog>
  <h1 mat-dialog-title>Cancel Reason</h1>
  <div mat-dialog-content>
    <form [formGroup]="dialogForm">
      <mat-form-field>
        <mat-label>Textarea</mat-label>
        <textarea
          formControlName="textArea"
          placeholder="Enter the reason"
          matInput
          required
        ></textarea>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button
      class="btn btn-sm btn-error text-white"
      mat-button
      mat-dialog-close
      cdkFocusInitial
    >
      Cancel
    </button>
    <button
      class="btn btn-sm btn-success text-white"
      mat-button
      mat-dialog-close="yes"
    >
      Yes
    </button>
  </div>
</ng-template>
