<app-users></app-users>
<mat-tab-group animationDuration="2000ms">
  <mat-tab label="Profile">
    <div class="h-full bg-gray-200 p-8">
      <div class="bg-white rounded-lg shadow-xl pb-8">
        <div class="w-full h-[70px]"></div>
        <div class="flex flex-col items-center -mt-20">
          <img
            *ngIf="userDetails.image"
            [src]="userDetails.image"
            class="w-40 border-4 border-white rounded-full"
            alt="Profile Picture"
          />
          <img
            *ngIf="!userDetails.image"
            src="https://static.vecteezy.com/system/resources/previews/011/483/813/original/guy-anime-avatar-free-vector.jpg"
            class="w-40 border-4 border-white rounded-full"
            alt="Profile Picture"
          />
          <p class="text-2xl">{{ userDetails.name }}</p>
          <div class="flex items-center space-x-2 mt-2">
            <label for="uploadImage" class="cursor-pointer">
              <span class="text-blue-500">Change Profile Picture</span>
              <input
                type="file"
                id="uploadImage"
                class="hidden"
                formControlName="img"
                (change)="changeProfile($event)"
              />
            </label>
          </div>
        </div>
      </div>
      <div
        class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4"
      >
        <div class="w-full flex flex-col 2xl:w-1/3">
          <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
            <h4 class="text-xl text-gray-900 font-bold">Personal Info</h4>
            <ul class="mt-2 text-gray-700">
              <li class="flex border-y py-2">
                <span class="font-bold w-24">Full name:</span>
                <span class="text-gray-700">{{ userDetails.name }}</span>
              </li>
              <li class="flex border-b py-2">
                <span class="font-bold w-24">Mobile:</span>
                <span class="text-gray-700">{{ userDetails.phone }}</span>
              </li>
              <li class="flex border-b py-2">
                <span class="font-bold w-24">Email:</span>
                <span class="text-gray-700">{{ userDetails.email }}</span>
              </li>
            </ul>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">
              Edit Profile
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Address">
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content flex-col lg:flex-row">
        <div>
          <h1 class="text-5xl font-bold">Address</h1>
          <p class="py-6">Name: John Doe</p>
          <p>Email: john.com</p>
          <button class="btn btn-primary">Edit Profile</button>
          <button class="btn btn-primary">Change Password</button>
          <button class="btn btn-primary">Activity 3</button>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<app-footer></app-footer>
