<app-users></app-users>
<mat-tab-group animationDuration="500ms">
  <mat-tab label="Profile">
    <div class="h-full bg-gray-200 p-8">
      <div class="bg-white rounded-lg shadow-xl pb-8">
        <div class="w-full h-[70px]"></div>
        <div class="flex flex-col items-center -mt-20">
          <img
            *ngIf="userDetails.image"
            [src]="userDetails.image"
            class="w-40 border-4 border-white rounded-full"
            alt="Profile Picture"
          />
          <img
            *ngIf="!userDetails.image"
            src="https://static.vecteezy.com/system/resources/previews/011/483/813/original/guy-anime-avatar-free-vector.jpg"
            class="w-40 border-4 border-white rounded-full"
            alt="Profile Picture"
          />
          <p class="text-2xl">{{ userDetails.name }}</p>
          <div class="flex items-center space-x-2 mt-2">
            <label for="uploadImage" class="cursor-pointer">
              <span class="text-blue-500">Change Profile Picture</span>
              <input
                type="file"
                id="uploadImage"
                class="hidden"
                formControlName="img"
                (change)="changeProfile($event)"
              />
            </label>
          </div>
        </div>
      </div>
      <div
        class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4"
      >
        <div class="w-full flex flex-col 2xl:w-1/3">
          <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
            <h4 class="text-xl text-gray-900 font-bold">Personal Info</h4>
            <ul class="mt-2 text-gray-700">
              <li class="flex border-y py-2">
                <span class="font-bold w-24">Full name:</span>
                <span class="text-gray-700">{{ userDetails.name }}</span>
              </li>
              <li class="flex border-b py-2">
                <span class="font-bold w-24">Mobile:</span>
                <span class="text-gray-700">{{ userDetails.phone }}</span>
              </li>
              <li class="flex border-b py-2">
                <span class="font-bold w-24">Email:</span>
                <span class="text-gray-700">{{ userDetails.email }}</span>
              </li>
            </ul>
            <button
              mat-button
              (click)="openDialog()"
              class="mt-3 bg-gradient-to-r from-blue-500 to-blue-700 text-white px-6 py-3 rounded-full hover:from-blue-700 focus:outline-none focus:ring focus:border-blue-300"
            >
              <span class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 mr-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  ></path>
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2 15l7-7 7 7"
                  ></path>
                </svg>
                Edit Profile
              </span>
            </button>
          </div>
        </div>

        <div class="w-full flex flex-col 2xl:w-1/3">
          <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
            <button
              mat-button
              class="text-blue-500"
              (click)="togglePasswordForm()"
            >
              {{ changePasswordToggle ? "Don't Change" : "Change" }} Password
            </button>
            <form *ngIf="changePasswordToggle" [formGroup]="changePasswordForm">
              <div class="flex flex-col space-y-2">
                <label for="currentPassword" class="font-bold"
                  >Current Password:</label
                >
                <input
                  type="password"
                  id="currentPassword"
                  class="p-2 border rounded"
                  formControlName="currentPassword"
                />
                <div
                  *ngIf="
                    changePasswordForm.get('currentPassword')?.invalid &&
                    (changePasswordForm.get('currentPassword')?.dirty ||
                      changePasswordForm.get('currentPassword')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  <div
                    *ngIf="
                      changePasswordForm
                        .get('currentPassword')
                        ?.hasError('required')
                    "
                  >
                    Current Password is required.
                  </div>
                  <div
                    *ngIf="
                      changePasswordForm
                        .get('currentPassword')
                        ?.hasError('minlength')
                    "
                  >
                    Current Password must be at least 8 characters long.
                  </div>
                  <div
                    *ngIf="
                      changePasswordForm
                        .get('currentPassword')
                        ?.hasError('noSpaceAllowed')
                    "
                  >
                    Spaces not allowed.
                  </div>
                </div>
              </div>

              <div class="flex flex-col space-y-2">
                <label for="password" class="font-bold">New Password:</label>
                <input
                  type="password"
                  id="password"
                  class="p-2 border rounded"
                  formControlName="password"
                />
                <div
                  *ngIf="
                    changePasswordForm.get('password')?.invalid &&
                    (changePasswordForm.get('password')?.dirty ||
                      changePasswordForm.get('password')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  <div
                    *ngIf="
                      changePasswordForm.get('password')?.hasError('required')
                    "
                  >
                    New Password is required.
                  </div>
                  <div
                    *ngIf="
                      changePasswordForm.get('password')?.hasError('minlength')
                    "
                  >
                    New Password must be at least 8 characters long.
                  </div>
                  <div
                    *ngIf="
                      changePasswordForm
                        .get('password')
                        ?.hasError('noSpaceAllowed')
                    "
                  >
                    Spaces not allowed
                  </div>
                </div>
              </div>
              <div class="flex flex-col space-y-2">
                <label for="confirmPassword" class="font-bold"
                  >Confirm Password:</label
                >
                <input
                  type="password"
                  id="confirmPassword"
                  class="p-2 border rounded"
                  formControlName="confirmPassword"
                />
                <div
                  *ngIf="
                    changePasswordForm.get('confirmPassword')?.invalid &&
                    (changePasswordForm.get('confirmPassword')?.dirty ||
                      changePasswordForm.get('confirmPassword')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  <div
                    *ngIf="
                      changePasswordForm
                        .get('confirmPassword')
                        ?.hasError('required')
                    "
                  >
                    Confirm Password is required.
                  </div>
                  <div
                    *ngIf="
                      changePasswordForm
                        .get('confirmPassword')
                        ?.hasError('minlength')
                    "
                  >
                    Confirm Password must be at least 8 characters long.
                  </div>
                  <div
                    *ngIf="
                      changePasswordForm
                        .get('confirmPassword')
                        ?.hasError('noSpaceAllowed')
                    "
                  >
                    Spaces not allowed.
                  </div>
                  <div
                    *ngIf="
                      changePasswordForm
                        .get('confirmPassword')
                        ?.hasError('PasswordNoMatch')
                    "
                  >
                    Passwords do not match.
                  </div>
                </div>
              </div>
              <button
                (click)="changePassword()"
                mat-button
                type="submit"
                class="mt-3 bg-gradient-to-r from-green-500 to-green-700 text-white px-6 py-3 rounded-full hover:from-green-700 focus:outline-none focus:ring focus:border-green-300"
                [disabled]="!changePasswordForm.valid"
              >
                <span class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 mr-2"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M2 15l7-7 7 7"
                    ></path>
                  </svg>
                  Change Password
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <ng-template #callAPIDialog>
    <h2 mat-dialog-title class="text-3xl font-bold mb-4">Edit Profile</h2>
    <mat-dialog-content class="mat-typography">
      <div class="space-y-4">
        <form [formGroup]="editProfile" (ngSubmit)="saveChanges()">
          <div class="mb-4">
            <label for="editName" class="block text-lg font-semibold mb-1"
              >Name:</label
            >
            <input
              id="editName"
              type="text"
              formControlName="editName"
              name="editedName"
              class="form-input w-full border-b-2 focus:outline-none focus:border-blue-500"
              placeholder="Enter your full name"
            />
            <div
              *ngIf="
                editProfile.get('editName')?.hasError('required') &&
                editProfile.get('editName')?.touched
              "
              class="text-red-500"
            >
              Name is required.
            </div>
            <div
              *ngIf="
                editProfile.get('editName')?.hasError('hasWhiteSpace') &&
                editProfile.get('editName')?.touched
              "
              class="text-red-500"
            >
              Name cannot contain whitespace.
            </div>
          </div>
          <div class="mb-4">
            <label for="editPhone" class="block text-lg font-semibold mb-1"
              >Mobile:</label
            >
            <input
              id="editPhone"
              type="text"
              name="editedPhone"
              formControlName="editPhone"
              class="form-input w-full border-b-2 focus:outline-none focus:border-blue-500"
              placeholder="Enter your mobile number"
            />
            <div
              *ngIf="
                editProfile.get('editPhone')?.hasError('required') &&
                editProfile.get('editPhone')?.touched
              "
              class="text-red-500"
            >
              Mobile is required.
            </div>
            <div
              *ngIf="
                editProfile.get('editPhone')?.hasError('minlength') &&
                editProfile.get('editPhone')?.touched
              "
              class="text-red-500"
            >
              Mobile must be at least 10 digits.
            </div>
            <div
              *ngIf="
                editProfile.get('editPhone')?.hasError('maxlength') &&
                editProfile.get('editPhone')?.touched
              "
              class="text-red-500"
            >
              Mobile cannot be more than 10 digits.
            </div>
            <div
              *ngIf="
                editProfile.get('editPhone')?.hasError('pattern') &&
                editProfile.get('editPhone')?.touched
              "
              class="text-red-500"
            >
              Invalid mobile number format.
            </div>
            <div
              *ngIf="
                editProfile.get('editPhone')?.hasError('hasWhiteSpace') &&
                editProfile.get('editPhone')?.touched
              "
              class="text-red-500"
            >
              Mobile cannot contain whitespace.
            </div>
          </div>

          <div class="mb-4">
            <label for="editEmail" class="block text-lg font-semibold mb-1"
              >Email:</label
            >
            <input
              id="editEmail"
              type="email"
              name="editedEmail"
              class="form-input w-full bg-gray-100 p-2 rounded-md"
              placeholder="Enter your email"
              [value]="userDetails.email"
              readonly
            />
          </div>
        </form>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button
        mat-button
        mat-dialog-close
        class="text-gray-600 hover:text-gray-800"
      >
        Cancel
      </button>
      <button
        (click)="saveChanges()"
        mat-button
        cdkFocusInitial
        class="bg-gradient-to-r from-blue-500 to-blue-700 text-white px-6 py-3 rounded-full hover:from-blue-700 focus:outline-none focus:ring focus:border-blue-300"
      >
        Save Changes
      </button>
    </mat-dialog-actions>
  </ng-template>
  <mat-tab label="Wallet">
    <div class="h-full bg-gray-200 p-8">
      <div class="flex flex-col items-center">
        <div class="card wallet">
          <div class="overlay"></div>
          <div class="circle">
            <svg
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              viewBox="23 29 78 60"
              height="60px"
              width="78px"
            >
              <defs></defs>
              <g
                transform="translate(23.000000, 29.500000)"
                fill-rule="evenodd"
                fill="none"
                stroke-width="1"
                stroke="none"
                id="icon"
              >
                <rect
                  rx="4.70247832"
                  height="21.8788565"
                  width="9.40495664"
                  y="26.0333433"
                  x="67.8357511"
                  fill="#AC8BE9"
                  id="Rectangle-3"
                ></rect>
                <rect
                  rx="4.70247832"
                  height="10.962961"
                  width="9.40495664"
                  y="38.776399"
                  x="67.8357511"
                  fill="#6A5297"
                  id="Rectangle-3"
                ></rect>
                <polygon
                  points="57.3086772 0 67.1649301 26.3776902 14.4413177 45.0699507 4.58506484 18.6922605"
                  fill="#6A5297"
                  id="Rectangle-2"
                ></polygon>
                <path
                  fill="#8B6FC0"
                  id="Rectangle"
                  d="M0,19.6104296 C0,16.2921718 2.68622235,13.6021923 5.99495032,13.6021923 L67.6438591,13.6021923 C70.9547788,13.6021923 73.6388095,16.2865506 73.6388095,19.6104296 L73.6388095,52.6639057 C73.6388095,55.9821635 70.9525871,58.672143 67.6438591,58.672143 L5.99495032,58.672143 C2.68403068,58.672143 0,55.9877847 0,52.6639057 L0,19.6104296 Z"
                ></path>
                <path
                  fill="#F6F1FF"
                  id="Fill-12"
                  d="M47.5173769,27.0835169 C45.0052827,24.5377699 40.9347162,24.5377699 38.422622,27.0835169 L36.9065677,28.6198808 L35.3905134,27.0835169 C32.8799903,24.5377699 28.8078527,24.5377699 26.2957585,27.0835169 C23.7852354,29.6292639 23.7852354,33.7559532 26.2957585,36.3001081 L36.9065677,47.0530632 L47.5173769,36.3001081 C50.029471,33.7559532 50.029471,29.6292639 47.5173769,27.0835169"
                ></path>
                <rect
                  height="12.863158"
                  width="15.6082259"
                  y="26.1162588"
                  x="58.0305835"
                  fill="#AC8BE9"
                  id="Rectangle-4"
                ></rect>
                <ellipse
                  ry="2.23319575"
                  rx="2.20116007"
                  cy="33.0919007"
                  cx="65.8346965"
                  fill="#FFFFFF"
                  id="Oval"
                ></ellipse>
              </g>
            </svg>
          </div>
          <p>My Wallet</p>
          <p>Balance: {{ userDetails.wallet | currency : "INR" }}</p>
        </div>
      </div>
    </div>
  </mat-tab>
  <ng-template let-data #walletHistory>
    <h2 mat-dialog-title>User Wallet History - {{ data.name }}</h2>
    <mat-dialog-content class="mat-typography">
      <div class="wallet-history">
        <h3>Wallet History</h3>
        <ul>
          <li *ngFor="let transaction of data.walletHistory">
            {{ transaction.date | date: 'medium' }} - {{ transaction.description }}: {{ transaction.amount | currency : "INR" }}
          </li>
        </ul>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </ng-template>
  
  <app-footer></app-footer>
</mat-tab-group>
