<div class="grid-container">
  <h2 class="text-2xl font-bold mb-4 text-indigo-700 border-b-2 border-indigo-700 pb-2">
    Dashboard
  </h2>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile
      *ngFor="let cards of cardsTwo | async"
      [colspan]="cards.cols"
      [rowspan]="cards.rows"
    >
      <mat-card
        class="dashboard-card bg-gradient-to-b from-blue-500 to-purple-600 text-white"
      >
        <mat-card-content class="p-6 flex justify-between items-center">
          <div class="card flex justify-center items-center space-y-4">
            <h2 class="text-3xl font-semibold">Monthly Earning</h2>
            <p class="text-2xl">{{ +monthlyEarning | currency : "INR" }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let cards of cardsTwo | async"
      [colspan]="cards.cols"
      [rowspan]="cards.rows"
    >
      <mat-card
        class="dashboard-card bg-gradient-to-b from-blue-500 to-purple-600 text-white rounded-lg shadow-lg"
      >
        <mat-card-content class="p-6 flex justify-between items-center">
          <div class="card flex flex-col justify-center items-center space-y-4">
            <h2 class="text-3xl font-semibold mb-4">
              Current Year
              <br />
              Earnings
            </h2>
            <p class="text-2xl font-bold">
              {{ +currentYearEarning | currency : "INR" }}
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let cards of cardsTwo | async"
      [colspan]="cards.cols"
      [rowspan]="cards.rows"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Booking Status
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="card flex justify-content-center">
            <p-chart
              type="doughnut"
              width="100"
              height="200"
              [data]="data"
              [options]="options"
            ></p-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let cards of cardsTwo | async"
      [colspan]="cards.cols"
      [rowspan]="cards.rows"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ cards.title }}
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="card">
            <p-chart type="bar" [data]="datas" [options]="optionss"></p-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
 
  </mat-grid-list>
</div>
