<div class="hero min-h-screen bg-white">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h3 class="text-5xl font-bold">
        Access Everywhere,<br />Axel Services !
      </h3>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-black">
      <div class="card-body">
        <div class="text-center lg:text-center">
          <h2 class="text-3xl font-bold text-white">Axel User</h2>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-control">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="pat@example.com"
                formControlName="email"
              />
              @if (this.loginForm.get('email')?.invalid) {
              <mat-error>{{ getErrorMessage("email") }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="form-control">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input id="password"
              name="password"
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
                placeholder="Enter Password"
              />
              @if (this.loginForm.get('password')?.invalid) {
              <mat-error>{{ getErrorMessage("password") }}</mat-error>
              }
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="form-control">
            <label class="label">
              <a
                routerLink="/forgotPassword"
                class="label-text-alt link link-hover hover:bg-white hover:no-underline text-white"
                >Forgot password?</a 
              >
            </label>
          </div>
          <div class="form-control mt-6">
            <div class="form-control mt-6">
              <button
              type="submit"
              class="btn btn-primary"
            >
              Login
            </button>
            </div>
          </div>
        </form>
        <asl-google-signin-button type='standard' size='medium' shape="pill"
        text="continue_with">
    </asl-google-signin-button>
        <div class="form-control">
          <label class="label">
            <a class="label-text-alt text-white">Not yet registered?</a>
          </label>
          <button
            routerLink="signup"
            type="button"
            class="btn bg-black text-white hover:bg-success"
          >
            Register
          </button>
        </div>
        <div class="form-control">
          <label class="label">
            <a class="label-text-alt text-white">Login as a servicer?</a>
          </label>
          <button
            routerLink="/servicer"
            type="button"
            class="btn bg-black text-white hover:bg-success"
          >
            Sign In
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
