<h2 class="text-3xl font-bold mb-6">Category Mgt</h2>

<mat-grid-list cols="3" rowHeight="2:2">
  <mat-grid-tile>
    <form class="p-4" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="mb-6 w-full">
        <label for="label">Category Name</label>
        <input
          matInput
          formControlName="categoryName"
          type="text"
          id="categoryName"
          placeholder="example (Mechanical)"
          required
        />
        @if (this.categoryForm.get('categoryName')?.invalid) {
        <mat-error>{{ getErrorMessage("categoryName") }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="mb-6 w-full">
        <mat-label>Description</mat-label>
        <textarea
          formControlName="description"
          id="description"
          matInput
        ></textarea>
        @if (this.categoryForm.get('description')?.invalid) {
        <mat-error>{{ getErrorMessage("description") }}</mat-error>
        }
      </mat-form-field>
      <button
        type="submit"
        [disabled]="!categoryForm.valid"
        mat-raised-button
        color="primary"
      >
        Submit
      </button>
    </form>
  </mat-grid-tile>
</mat-grid-list>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row._id }}</td>
    </ng-container>
    <ng-container matColumnDef="categoryname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category Name</th>
      <td mat-cell *matCellDef="let row">{{ row.categoryName }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row">{{ row.description }}</td>
    </ng-container>
    <ng-container matColumnDef="list">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>List</th>
      <td
        mat-cell
        *matCellDef="let row"
        class="{{ row.list ? 'text-success' : 'text-error' }}"
      >
        {{ row.list ? "Listed" : "Unlisted" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-raised-button
          (click)="editCategory(row._id, row.categoryName, row.description)"
          class="btn btn-secondary btn-xs"
        >
          Edit
        </button>
        <button
          (click)="listUnlist(row._id)"
          class="btn mt-2 {{
            row.list ? 'btn-error' : 'btn-success'
          }} btn-xs ms-2 text-white"
        >
          {{ row.list ? "Unlist" : "List" }}
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
<ng-template #callAPIDialog>
  <h1 mat-dialog-title>Edit Category</h1>
  <div mat-dialog-content>
    <form class="example-form" [formGroup]="dialogForm">
      <mat-form-field class="example-full-width">
        <mat-label>Category Name</mat-label>
        <input
          matInput
          placeholder="Ex. Mechanical"
          value="Mechanical"
          formControlName="categoryName"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Ex. It makes me feel..."
          formControlName="description"
        ></textarea>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button
      class="btn btn-sm btn-error text-white"
      mat-button
      mat-dialog-close
      cdkFocusInitial
    >
      Cancel
    </button>
    <button
      class="btn btn-sm btn-success text-white"
      mat-button
      mat-dialog-close="yes"
    >
      Update
    </button>
  </div>
</ng-template>
