<app-users></app-users>
<div class="hero min-h-screen bg-white" *ngFor="let service of services">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="https://img.freepik.com/free-vector/gradient-our-services-infographic-design_23-2149951090.jpg"
      class="max-w-sm rounded-lg shadow-2xl"
    />
    <div>
      <h3 class="text-5xl font-bold">{{ service.serviceName }}</h3>
      <p class="py-6">{{ service.description }}</p>
      <p class="mt-2 text-lg text-gray-700">
        {{ +service.amount | currency : "INR" }}
      </p>
      <button
        data-modal-target="staticModal"
        data-modal-toggle="staticModal"
        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="button"
      >
        Book Now
      </button>
      <button [routerLink]="'/chat'" [queryParams]="{id:service._id}"
      data-modal-target="staticModal"
      data-modal-toggle="staticModal"
      class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      type="button"
    >
     Chat
    </button>
    </div>
  </div>
</div>
<div
  id="staticModal"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-2xl max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div
        class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
      >
        <h5 class="text-xl font-semibold text-gray-900 dark:text-white">
          Axel Appointment
        </h5>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="staticModal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <mat-vertical-stepper
        [linear]="false"
        #stepper
        [animationDuration]="'1000'"
      >
        <mat-step [stepControl]="firstFormGroup">
          <span
            class="validation text-red-500"
            *ngIf="firstFormGroup.get('date')?.touched && firstFormGroup.controls['date'].errors?.['required']"
            >Date is required</span
          >
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Select Your Date</ng-template>
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [min]="date"
                formControlName="date"
                required
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
              <button
                mat-button
                matStepperNext
                [disabled]="firstFormGroup.status === 'INVALID'"
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <span
            class="validation text-red-500"
            *ngIf="secondFormGroup.get('time')?.touched && secondFormGroup.controls['time'].errors?.['required']"
            >Time is required</span
          >
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Select Your Time</ng-template>
            <igx-time-picker
              formControlName="time"
              mode="dialog"
              [inputFormat]="'hh:mm tt'"
              required
            >
              <label igxLabel>Home Time </label>
              <igx-picker-toggle igxSuffix>
                <igx-icon>home</igx-icon>
              </igx-picker-toggle>
              <igx-hint>{{ date.toLocaleString() }}</igx-hint>
            </igx-time-picker>
            <div>
              <button
                mat-button
                matStepperNext
                [disabled]="secondFormGroup.status === 'INVALID'"
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step
          [stepControl]="bookingSummary"
          *ngFor="let service of services"
        >
          <ng-template matStepLabel>Booking Summary</ng-template>
          <p>
            Date: {{ firstFormGroup.get("date")?.value | date : "dd/MM/yyyy" }}
          </p>
          <p>
            Time: {{ secondFormGroup.get('time')?.value | date:'h:mm a' }}
          </p>
          <p>Service Name: {{ service.serviceName }}</p>
          <p>Amount: {{ +service.amount | currency : "INR" }}</p>
          <form *ngIf="wallet > 0" [formGroup]="thirdFormGroup">
            <label for="Wallet"
              >Wallet Balance: {{ wallet | currency : "INR" }}</label
            >
            <p>
              Deduct from Wallet:
              <input type="checkbox" formControlName="walletChecked" />
            </p>
          </form>
          <div>
            <button mat-button matStepperPrevious>Back</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
      <div
        class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          data-modal-hide="staticModal"
          type="button"
          class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
        >
          Decline
        </button>
        <button
          data-modal-hide="staticModal"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:btn-disabled btn-neutral"
          [disabled]="
            firstFormGroup.status === 'INVALID' ||
            secondFormGroup.status === 'INVALID'
          "
          (click)="Done()"
        >
          Proceed to payment
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
