<app-users></app-users>
<main class="my-8">
  <div class="container mx-auto px-6">
    <div class="md:flex md:items-center">
      <div class="w-full md:w-1/2 lg:h-96 md:order-2">
        <gallery
          gallerize
          [items]="images"
          class="w-full h-full object-cover rounded-lg shadow-md"
        ></gallery>
      </div>
      <div class="w-full max-w-lg mx-auto mt-5 md:ml-8 md:mt-0 md:w-1/2">
        <h1 class="text-3xl font-extrabold text-gray-800 mb-2">
          {{ service?.serviceName }}
        </h1>
        <p class="text-gray-600 text-lg mb-4">
          Description:{{ service?.description }}
        </p>
        <span class="text-gray-700 text-xl font-bold block">{{
          +service?.amount | currency : "INR"
        }}</span>
        <div *ngIf="item.length">
          <h5>Add-ons</h5>
          <cdk-accordion class="example-accordion">
            <cdk-accordion-item
              *ngFor="let service of item; let index = index"
              #accordionItem="cdkAccordionItem"
              class="example-accordion-item"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-' + index"
              [attr.aria-expanded]="accordionItem.expanded"
              [attr.aria-controls]="'accordion-body-' + index"
            >
              <div class="example-accordion-item-header">
                <input
                  type="checkbox"
                  [(ngModel)]="service.selected"
                  class="mr-2"
                  (change)="handleCheckboxChange(service)"
                />
                <img
                  [src]="service?.image"
                  alt="{{ service?.service }}"
                  class="mr-2"
                  style="max-height: 24px"
                />
                {{ service?.service }}
                <span
                  class="example-accordion-item-description"
                  (click)="accordionItem.toggle()"
                >
                  {{
                    accordionItem.expanded ? "close details" : "show details"
                  }}
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index"
              >
                <p>{{ service?.description }}</p>
                <p>Amount: {{ service?.amount | currency : "INR" }}</p>
              </div>
            </cdk-accordion-item>
          </cdk-accordion>
          <div>Total Amount: {{ totalAmount | currency : "INR" }}</div>
        </div>
        <hr class="my-4 border-t-2 border-gray-200" />
        <div class="mt-4">
          <div class="flex space-x-4">
            <button
              data-modal-target="staticModal"
              data-modal-toggle="staticModal"
              class="block w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              type="button"
            >
              Book Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="container mx-auto px-6 mt-8">
  <mat-tab-group class="bg-white shadow-md rounded-lg mt-4">
    <mat-tab label="Reviews">
      <div
        class="p-4 flex justify-center items-center overflow-x-hidden overflow-y-auto scrollbar-hide"
      >
        <div class="max-w-6xl mx-auto">
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
          >
            <div
              *ngFor="let review of reviews"
              class="flex justify-center items-center"
            >
              <div
                class="bg-white p-6 rounded-md shadow-md mb-4 hover:shadow-lg transition-transform transform hover:scale-105 h-full"
              >
                <div class="flex items-center mb-4">
                  <div class="flex-shrink-0">
                    <img
                      class="h-16 w-16 md:h-20 md:w-20 rounded-full"
                      src="{{ review.user.avatar }}"
                      alt="User Avatar"
                    />
                  </div>
                  <div class="ml-4">
                    <p class="text-indigo-600 text-lg font-semibold">
                      {{ review.user.name }}
                    </p>
                    <div class="flex items-center mt-1">
                      <span class="text-gray-700 text-xs md:text-sm"
                        >Rating:</span
                      >
                      <div class="ml-1 text-yellow-500">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="text-gray-600 text-sm">"{{ review.review }}"</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Location">
      <div class="p-4">
        <div id="map" class="h-96 rounded-md shadow-md"></div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div
  id="staticModal"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-2xl max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div
        class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
      >
        <h5 class="text-xl font-semibold text-gray-900 dark:text-white">
          Axel Appointment
        </h5>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="staticModal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <mat-vertical-stepper
        [linear]="false"
        #stepper
        [animationDuration]="'1000'"
      >
        <mat-step [stepControl]="firstFormGroup">
          <span
            class="validation text-red-500"
            *ngIf="firstFormGroup.get('date')?.touched && firstFormGroup.controls['date'].errors?.['required']"
            >Date is required</span
          >
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Select Your Date</ng-template>
            <mat-form-field class="example-full-width">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" [min]="date" formControlName="date" (dateChange)="addEvent($event)">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
              
            <div>
              <button 
                mat-button
                matStepperNext
                [disabled]="firstFormGroup.status === 'INVALID'"
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <span
            class="validation text-red-500"
            *ngIf="secondFormGroup.get('time')?.touched && secondFormGroup.controls['time'].errors?.['required']"
            >Time is required</span
          >
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Select Your Time</ng-template>
            <mat-form-field>
              <mat-label>Choose a Time</mat-label>
              <mat-select formControlName="time">
                <mat-option *ngFor="let hourOption of updatedHours" [value]="hourOption.value">
                  {{ hourOption.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
                    
            <div>
              <button
                mat-button
                matStepperNext
                [disabled]="secondFormGroup.status === 'INVALID'"
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="bookingSummary">
          <ng-template matStepLabel>Booking Summary</ng-template>
          <p>
            Date: {{ firstFormGroup.get("date")?.value | date : "dd/MM/yyyy" }}
          </p>
          <p>
            Time: {{ secondFormGroup.get("time")?.value | date : "h:mm a" }}
          </p>
          <p>Service Name: {{ service?.serviceName }}</p>
          <p>Amount: {{ +totalAmount | currency : "INR" }}</p>
          <form *ngIf="wallet > 0" [formGroup]="thirdFormGroup">
            <label for="Wallet"
              >Wallet Balance: {{ wallet | currency : "INR" }}</label
            >
            <p>
              Deduct from Wallet:
              <input type="checkbox" formControlName="walletChecked" />
            </p>
          </form>
          <div>
            <button mat-button matStepperPrevious>Back</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
      <div
        class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          data-modal-hide="staticModal"
          type="button"
          class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
        >
          Decline
        </button>
        <button
          data-modal-hide="staticModal"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:btn-disabled btn-neutral"
          [disabled]="
            firstFormGroup.status === 'INVALID' ||
            secondFormGroup.status === 'INVALID'
          "
          (click)="Done()"
        >
          Proceed to payment
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
