<div class="flex-1 p-2 sm:p-6 justify-between flex flex-col h-screen">
  <div class="flex sm:items-center justify-between py-3 border-b-2 border-gray-200">
    <div class="flex items-center space-x-4">
      <div class="relative">
        <span class="absolute text-green-500 right-0 bottom-0">
          <svg width="20" height="20">
            <circle cx="8" cy="8" r="8" fill="currentColor"></circle>
          </svg>
        </span>
        <img
          src="https://images.unsplash.com/photo-1549078642-b2ba4bda0cdb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
          alt=""
          class="w-10 sm:w-16 h-10 sm:h-16 rounded-full"
        />
      </div>
      <div class="flex flex-col leading-tight">
        <div class="text-2xl mt-1 flex items-center">
          <span class="text-gray-700 mr-3">Anderson</span>
        </div>
        <span class="text-lg text-gray-600">Full Stack</span>
      </div>
    </div>
  </div>
  <div
    *ngIf="messages"
    id="messages"
    class="flex flex-col-reverse space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch flex-grow min-h-0"
  >
    <div *ngFor="let msg of messages.slice().reverse()" class="chat-message">
      <div *ngIf="msg.senderType === 'Servicer'" class="flex items-start mb-4">
        <img
          src="https://images.unsplash.com/photo-1549078642-b2ba4bda0cdb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
          alt="My profile"
          class="w-6 h-6 rounded-full order-1"
        />
        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2">
          <div>
            <span class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600">{{ msg.text }}</span>
          </div>
        </div>
      </div>
      <div *ngIf="msg.senderType === 'User'" class="flex items-end justify-end mb-4">
        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-1 items-end">
          <div>
            <span class="px-4 py-2 rounded-lg inline-block rounded-br-none bg-blue-600 text-white">{{ msg.text }}</span>
          </div>
        </div>
        <img
          src="https://images.unsplash.com/photo-1590031905470-a1a1feacbb0b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
          alt="My profile"
          class="w-6 h-6 rounded-full order-2"
        />
      </div>
    </div>
  </div>
  <div class="border-t-2 border-gray-200 px-4 pt-4 mb-2 sm:mb-0">
    <div class="relative flex">
      <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="flex">
        <input
          type="text"
          formControlName="message"
          placeholder="Type your message here..."
          class="flex-grow focus:outline-none border-b-2 border-gray-300 text-gray-800 placeholder-gray-400 py-2 px-4"
        />
        <div class="absolute right-0 items-center inset-y-0 hidden sm:flex">
          <button
            type="submit"
            class="inline-flex items-center justify-center rounded-lg px-4 py-2 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none"
          >
            <span class="font-bold">Send</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-6 w-6 ml-2 transform rotate-90"
            >
              <path
                d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"
              ></path>
            </svg>
          </button>
        </div>
      </form>
    </div>
    
  </div>
  
  
</div>

<script>
  const el = document.getElementById("messages");
  const observer = new MutationObserver(() => {
    el.scrollTop = el.scrollHeight;
  });
  observer.observe(el, { childList: true });
</script>
