<div class="navbar bg-black">
    <div class="flex-1">
      <a routerLink="/home" class="text-white normal-case text-xl">Axel</a>
      <ul class="menu menu-horizontal px-1 text-white">
        <li><a routerLink="/home">Home</a></li>
        <li>
            <a routerLink="/servicesList">Services</a>
        </li>
      </ul>
    </div>
    <ul class="menu menu-horizontal px-1 text-white">
      <button routerLink="/inbox" class="btn btn-sm">
        Inbox
        <div class="badge">+99</div>
      </button>
    </ul>
    <div class="dropdown dropdown-end text-black">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSov5DzyatJ9FhCHYAd6pndqI6TISpQR5QHv4aZIzVmZTOH7-xbEQTUMVBU_gk0csE9Pvg&usqp=CAU" />
        </div>
      </label>
      <ul
        tabindex="0"
        class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-white rounded-box w-52"
      >
      <li>
        <a routerLink="/bookings" class="justify-between">Bookings</a>
      </li>
        <li>
          <a routerLink="/userProfile" class="justify-between">Profile</a>
        </li>
        <li><a (click)="logOut()">Logout</a></li>
      </ul>
    </div>
  </div>