@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~@angular/cdk/overlay-prebuilt.css';
@import 'ngx-toastr/toastr';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
df-messenger {
    --df-messenger-bot-message: white;
    --df-messenger-button-titlebar-color: black;
    --df-messenger-chat-background-color: black;
    --df-messenger-font-color: black;
    --df-messenger-send-icon: black;
    --df-messenger-user-message: white;
  }
  
