<app-users></app-users>
<div class="bg-gray-100 min-h-screen">
  <p *ngIf="bookings && bookings.length === 0" class="text-center text-error">
    <img
      src="https://cdn.dribbble.com/users/456158/screenshots/5099794/empty_state___bookings_4x.png"
      alt="No Bookings Image"
      class="max-w-full mx-auto"
    />
  </p>

  <div *ngIf="bookings && bookings.length > 0" class="container mx-auto py-10">
    <h3 class="text-2xl font-semibold mb-4">Booking History</h3>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">ID</th>
            <th scope="col" class="px-6 py-3">Company Name</th>
            <th scope="col" class="px-6 py-3">Status</th>
            <th scope="col" class="px-6 py-3">Details</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let booking of bookings"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
              Booking ID {{ booking._id }}
              <br />
              Service ID {{ booking.service }}
            </td>
            <td class="px-6 py-4">
              <div class="flex items-center space-x-3">
                {{ booking.services.companyName }}
              </div>
            </td>
            <td
              class="{{
                booking.approvalStatus === 'Pending'
                  ? 'text-success'
                  : 'text-error'
              }} px-6 py-4 font-semibold text-gray-900 dark:text-white"
            >
              {{ booking.approvalStatus }}
            </td>
            <td class="px-6 py-4">
              <div class="flex items-center space-x-3">
                <button
                  (click)="viewDetails(booking._id)"
                  class="text-blue-500 cursor-pointer"
                >
                  View Details
                </button>
              </div>
            </td>
            <td *ngIf="booking.approvalStatus === 'Pending'" class="px-6 py-4">
              <button
                (click)="cancel(booking._id)"
                class="font-medium btn btn-error text-white"
              >
                Cancel
              </button>
            </td>
            <td
              *ngIf="booking.approvalStatus === 'Service Completed'"
              class="px-6 py-4"
            >
              <button
                (click)="review(booking.service, booking.user)"
                class="font-medium btn btn-success text-white"
              >
                Review
              </button>
            </td>
            <td
              *ngIf="booking.approvalStatus === 'Cancelled'"
              class="px-6 py-4"
            >
              <strong class="text-error">Cancelled</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #callAPIDialog>
  <h1 mat-dialog-title>{{ action }}</h1>
  <div mat-dialog-content>
    <form [formGroup]="dialogForm">
      <mat-form-field>
        <mat-label>Textarea</mat-label>
        <textarea
          formControlName="textArea"
          placeholder="Enter the reason"
          matInput
          required
        ></textarea>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button
      class="btn btn-sm btn-error text-white"
      mat-button
      mat-dialog-close
      cdkFocusInitial
    >
      Cancel
    </button>
    <button
      class="btn btn-sm btn-success text-white"
      mat-button
      mat-dialog-close="yes"
    >
      Yes
    </button>
  </div>
</ng-template>
<ng-template #viewDetail>
  <div
    class="p-6 bg-white shadow-md rounded-md w-full overflow-y-auto max-w-screen-md max-h-screen"
  >
    <h2 class="text-2xl font-bold mb-4">
      {{ bookingDetail.service.serviceName }}
    </h2>

    <div class="grid grid-cols-2 gap-4">
      <div class="flex items-center mb-2">
        <div class="font-bold mr-2">Date:</div>
        <div>{{ bookingDetail.date | date }}</div>
      </div>
      <div class="flex items-center mb-2">
        <div class="font-bold mr-2">Time:</div>
        <div>{{ bookingDetail.time }}</div>
      </div>
      <div class="col-span-2">
        <div class="grid grid-cols-2 gap-4">
          <div
            *ngFor="let image of bookingDetail.service.images"
            class="rounded-md overflow-hidden"
          >
            <img
              [src]="image"
              alt="Service Image"
              class="w-full h-auto rounded-md"
            />
          </div>
        </div>
      </div>
      <div class="flex items-center mb-2">
        <div class="font-bold mr-2">Address:</div>
        <div>{{ bookingDetail.service.address }}</div>
      </div>
      <div class="flex items-center mb-2">
        <div class="font-bold mr-2">Amount:</div>
        <div>{{ bookingDetail.service.amount | currency : "INR" }}</div>
      </div>
      <div class="flex items-center mb-2">
        <div class="font-bold mr-2">Category:</div>
        <div>{{ bookingDetail.service.category }}</div>
      </div>
      <div class="flex items-center mb-2">
        <div class="font-bold mr-2">Description:</div>
        <div>{{ bookingDetail.service.description }}</div>
      </div>
    </div>

    <div class="mt-6 flex justify-end">
      <button
        mat-button
        mat-dialog-close
        class="bg-blue-500 text-white px-4 py-2 rounded-md"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
<app-footer></app-footer>
