<app-users></app-users>
<div class="bg-gray-100 min-h-screen">
  <div class="container mx-auto py-10">
    <h3 class="text-2xl font-semibold mb-4">Booking History</h3>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <p *ngIf="!bookings" class="text-center text-error">
        You haven't done any bookings yet.
      </p>
      <table
        *ngIf="bookings"
        class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">ID</th>
            <th scope="col" class="px-6 py-3">Company Name</th>
            <th scope="col" class="px-6 py-3">Status</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let booking of bookings"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
              Booking ID {{ booking._id }}
              <br />
              Service ID {{ booking.service }}
            </td>
            <td class="px-6 py-4">
              <div class="flex items-center space-x-3">
                {{ booking.services.companyName }}
              </div>
            </td>
            <td
              class="{{
                booking.approvalStatus === 'Pending'
                  ? 'text-success'
                  : 'text-error'
              }} px-6 py-4 font-semibold text-gray-900 dark:text-white"
            >
              {{ booking.approvalStatus }}
            </td>
            <td *ngIf="booking.approvalStatus === 'Pending'" class="px-6 py-4">
              <button
                (click)="cancel(booking._id, booking.services.amount.toString())"
                class="font-medium btn btn-error text-white"
              >
                Cancel
              </button>
            </td>
            <td
              *ngIf="booking.approvalStatus === 'Service Completed'"
              class="px-6 py-4"
            >
              <button
                (click)="review(booking.service,booking.user)"
                class="font-medium btn btn-success text-white"
              >
                Review
              </button>
            </td>
            <td
              *ngIf="booking.approvalStatus === 'Cancelled'"
              class="px-6 py-4"
            >
              <strong class="text-error">Cancelled</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #callAPIDialog>
  <h1 mat-dialog-title>Review</h1>
  <div mat-dialog-content>
    <form [formGroup]="dialogForm">
      <mat-form-field>
        <mat-label>Textarea</mat-label>
        <textarea
          formControlName="textArea"
          placeholder="Give your feedback"
          matInput
          required
        ></textarea>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button
      class="btn btn-sm btn-error text-white"
      mat-button
      mat-dialog-close
      cdkFocusInitial
    >
      Cancel
    </button>
    <button
      class="btn btn-sm btn-success text-white"
      mat-button
      mat-dialog-close="yes"
    >
      Yes
    </button>
  </div>
</ng-template>
<app-footer></app-footer>
