<app-users></app-users>
<div class="hero min-h-screen bg-black">
  <div class="container mx-auto">
    <div class="hero-content flex-col lg:flex-row-reverse items-center">
      <div class="w-full lg:w-1/2 text-center lg:text-left">
        <h3 class="text-5xl font-bold mb-4 text-white">
          Professional Services For<br />Your Home And Commercial
        </h3>
        <div class="flex flex-col lg:flex-row items-center">
          <div class="w-full lg:w-2/3">
            <label class="text-white mx-4">What are you looking for?</label>
            <div class="bg-black rounded-lg p-2 flex items-center">
              <input
                type="text"
                placeholder="Search"
                class="input input-bordered w-full lg:w-48 text-black bg-white"
              />
              <button class="btn btn-ghost hover:btn-accent ms-3">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-5 py-5 min-h-fit text-black bg-white">
  <h4 class="text-3xl font-bold my-4 text-gray-900">Latest Services</h4>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let service of services">
      <div class="card bg-white shadow-lg rounded-lg">
        <div class="card-body text-black">
          <img src="https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VydmljZXN8ZW58MHx8MHx8fDA%3D&w=1000&q=80" class="rounded-t-lg">
          <h6 class="card-title text-2xl font-semibold mt-4">{{ service.companyName }}</h6>
          <h6 class="card-title text-2xl font-semibold mt-4">{{ service.description }}</h6>
          <p class="mt-2 text-lg text-gray-700">{{ +service.amount | currency : "INR" }}</p>
          <div class="card-actions justify-end mt-4">
            <a
              (click)="serviceDetails(service._id)"
              class="btn btn-outline btn-info"
            >View Details</a>
            <!-- <button
              class="btn btn-outline btn-info ml-2"
              (click)="bookNow(service._id)"
            >
              Book Now
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-5 py-5 min-h-fit text-black bg-white">
  <h4 class="text-3xl font-bold my-4 text-gray-900">Featured Services</h4>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let feature of featuredServices">
      <div class="card bg-white shadow-lg rounded-lg">
        <div class="card-body text-black">
          <img src="https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VydmljZXN8ZW58MHx8MHx8fDA%3D&w=1000&q=80" class="rounded-t-lg">
          <h6 class="card-title text-2xl font-semibold mt-4">Service Name: <br> {{ feature.companyName }}</h6>
          <h6 class="card-title text-2xl font-semibold mt-4">{{ feature.description }}</h6>
          <p class="mt-2 text-lg text-gray-700">{{ +feature.amount | currency : "INR" }}</p>
          <div class="card-actions justify-end mt-4">
            <a
              (click)="serviceDetails(feature._id)"
              class="btn btn-outline btn-info"
            >View Details</a>
            <!-- <button
              class="btn btn-outline btn-info ml-2"
              (click)="bookNow(feature._id)"
            >
              Book Now
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-5 py-5 min-h-fit text-black bg-white">
  <h4 class="text-3xl font-bold my-4 text-gray-900">Based On Categories</h4>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let service of services">
      <div class="card bg-white shadow-lg rounded-lg">
        <div class="card-body text-black">
          <img src="https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2VydmljZXN8ZW58MHx8MHx8fDA%3D&w=1000&q=80" class="rounded-t-lg">
          <h6 class="card-title text-2xl font-semibold mt-4">Category: <br>{{ service.categoryInfo.categoryName }}</h6>
          <h6 class="card-title text-2xl font-semibold mt-4">{{ service.description }}</h6>
          <p class="mt-2 text-lg text-gray-700">{{ +service.amount | currency : "INR" }}</p>
          <div class="card-actions justify-end mt-4">
            <a
              (click)="serviceDetails(service._id)"
              class="btn btn-outline btn-info"
            >View Details</a>
            <!-- <button
              class="btn btn-outline btn-info ml-2"
              (click)="bookNow(service._id)"
            >
              Book Now
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Our Partners</h5>
  <p class="mb-5 text-base text-gray-700 sm:text-lg dark:text-gray-400">Stay up to date and move work forward with Axel Services on Desktop. Sign up today.</p>
  <div class="flex items-center justify-center space-x-4 sm:space-x-8">
    <a href="#" class="bg-white hover:bg-black focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center p-3 sm:p-4 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
      <img class="w-16 h-16 rounded-full" src="https://images-platform.99static.com//5izzx5mICDKM8GVjq-fDbXrLqyU=/482x1354:1119x1991/fit-in/500x500/99designs-contests-attachments/124/124405/attachment_124405286" alt="Partner 1">
    </a>
    <a href="#" class="bg-white hover:bg-black focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center p-3 sm:p-4 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
      <img class="w-16 h-16 rounded-full" src="https://media.licdn.com/dms/image/C4D0BAQEWqmtyVtZl7Q/company-logo_200_200/0/1653839709176?e=2147483647&v=beta&t=eaj5RDhwLqt122NSrkNWoiWthTaIP4HgM5GJoHo28ws" alt="Partner 2">
    </a>
  </div>
</div>
<app-footer></app-footer>
